@media screen and (max-width:420px) {
  .container_menu_title >h1 {
    font-size: 1rem;
  }
}
@media screen and (max-width:600px) {
  .container_menu_title >h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width:900px) {
  .container_menu_title >h1 {
    font-size: 2rem;
  }
}
