<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="articles">
  <div class="articles_main">
    <app-big-card
    photoCover="https://media.istockphoto.com/id/1164538944/pt/vetorial/woman-with-laptop-studying-or-working-concept-table-with-books-lamp-coffee-cup-vector.jpg?s=170667a&w=0&k=20&c=fiVzU7fJntV8zMnwJ1KkXbH0DHWyhSOhqS7-w2Th1wE="
    cardTitle="My Title"
    cardDescription="My Description here..."
    >
  </app-big-card>
  </div>
  <div class="articles_others">
    <app-small-card
    photoCover="https://github.com/Ignacio-fabianamaria/task_organizer/raw/main/art.gif"
    cardTitle="01-Titulo referente aos projeto que será inserido neste card">
    </app-small-card>
    <app-small-card
    photoCover="https://github.com/Ignacio-fabianamaria/memory_game/raw/main/art.gif"
    cardTitle="02-Titulo referente aos projeto que será inserido neste card">
    </app-small-card>
    <app-small-card
    photoCover="https://github.com/Ignacio-fabianamaria/chatbot-reactjs-nodejs/raw/main/art.gif"
    cardTitle="03-Titulo referente aos projeto que será inserido neste card">
    </app-small-card>
  </div>
</div>
