
.container_menu_bar > ul{
display: flex;
flex-direction: row;
}
.container_menu_bar > ul > li{
  font-weight: 900;
  margin-right: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
}
.container_menu_bar >ul > li > img{
  width: 20px;
  margin-right: .5rem;
}

